<main class="main">
  <header class="header">
    <button class="header-button" (click)="goToGameList()">Browse Games</button>
    <button class="header-button" (click)="goToUserPage()" [disabled]="!user()">My Guides</button>
    <div class="profile-wrapper" (click)="toggleProfileDropdown()">
      <div class="profile-name">
        @if (user()) {
        {{ user()?.name }}
        @if (profileDropdownOpen) {
        <div class="profile-dropdown" (click)="$event.stopPropagation()">
          <button class="dropdown-item" (click)="logout()">Logout</button>
        </div>
        }
        } @else {
        <button class="header-button" (click)="goToLogin()" [disabled]="user()">Login</button>
        }
      </div>
    </div>
  </header>

  <div class="content">
    <router-outlet />
  </div>
</main>