<h2>Teilnehmerliste</h2>

@for (participiant of participiants; track participiant) {
<div class="teilnehmer-item">

  @if (participiant.type === 'student') {
    <strong>{{ participiant.name }}</strong> (Student)
    <br />
    Noten: {{ getNoten(participiant) }}
  }
  @else if (participiant.type === 'professor') {
    <strong>{{ participiant.name }}</strong> (Professor)
    <br />
    Titel: {{ getTitel(participiant) }}
  }
  @else {
    Unbekannter Teilnehmer
  }
</div>
}

<button (click)="goToDashboard()">Dashboard</button>