@use "sass:color";
@use '../../app.scss' as app;

.login-container {
  max-width: 400px;
  margin: 2rem auto;
  padding: 1.5rem;

  border-radius: app.$radius-medium;
  background: linear-gradient(
    150deg,
    color.scale(app.$color-primary, $lightness: 15%),
    app.$color-accent
  );
  box-shadow: app.$shadow-medium;
  color: app.$color-white;

  form {
    display: flex;
    flex-direction: column;

    div {
      margin-bottom: 1rem;

      label {
        display: block;
        margin-bottom: 0.25rem;
        color: app.$color-white;
        font-weight: 500;
      }

      input {
        width: 100%;
        padding: 0.6rem;
        border-radius: app.$radius-small;
        border: none;
        background: app.$color-input-background;
        color: app.$color-white;

        &::placeholder {
          color: app.$color-placeholder;
        }
      }
    }

    button {
      @include app.button-basic(app.$color-primary, app.$color-primary-dark);
      margin-top: 0.5rem;
      font-weight: 600;
    }
  }

  p {
    margin-top: 1rem;
    text-align: center;
    color: app.$color-white;
    font-weight: 600;
  }
}