@use '../../app.scss' as app;

.teilnehmer-item {
  padding: 0.8rem 1rem;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  color: white;
  font-weight: 600;

  &.student {
    background-color: #ff69b4; /* pink */
  }

  &.professor {
    background-color: #800080; /* lila */
  }
}
