@use '../../../styles/_global' as g;

.popular-games-container {
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-radius: g.$radius-medium;
    background: g.$gradient;
    box-shadow: g.$shadow-medium;
    color: g.$color-white;

    h3 {
        margin: 0 0 0.8rem 0;
        font-size: 1.3rem;
        text-align: center;
    }

    .popular-games-list {
        display: flex;
        gap: 1rem;
    }

    .popular-game-item {
        flex: 1;
        cursor: pointer;
        text-align: center;

        &:hover {
            transform: translateY(-2px);
        }
    }

    .popular-game-image {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-radius: g.$radius-small;
        box-shadow: g.$shadow-medium;
    }

    .popular-game-title {
        margin-top: 0.4rem;
    }
}

.game-list-page {
    display: flex;
    gap: 2rem;

    .game-list-container {
        flex: 1;

        .game-item {
            display: flex;
            align-items: center;
            gap: 1rem;

            padding: 1rem;
            border-radius: g.$radius-medium;
            margin-bottom: 0.5rem;
            color: g.$color-white;
            background: g.$gradient;
            cursor: pointer;
        }

        .game-image-small {
            width: 80px;
            height: 110px;
            object-fit: cover;
            border-radius: g.$radius-small;
            box-shadow: g.$shadow-medium;
        }

        .game-info {
            flex: 1;
        }

        .game-title {
            font-size: 1.1rem;
            font-weight: 600;
        }

        .game-genre {
            font-size: 0.9rem;
            opacity: 0.85;
        }
    }

    .filters-container {
        flex: 0 0 220px;
        padding: 1rem;
        border-radius: g.$radius-medium;
        background: g.$gradient;
        box-shadow: g.$shadow-medium;
        color: g.$color-white;
        align-self: flex-start;

        h3 {
            margin-top: 0;
            font-size: 1.3rem;
            margin-bottom: 1rem;
        }

        .filter-item {
            margin-top: 1rem;

            label {
                display: block;
                margin-bottom: 0.3rem;
            }

            input[type='text'],
            input[type='date'] {
                width: 100%;
                padding: 0.4rem;
                border-radius: g.$radius-small;
                border: none;
                box-sizing: border-box;
            }

            .tags-checkboxes {
                margin-top: 0.3rem;
                max-height: calc(100vh - 400px);
                display: flex;
                flex-direction: column;
                overflow-y: auto;

                label {
                    cursor: pointer;
                }

                &::-webkit-scrollbar {
                    width: 6px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: g.$color-transparent;
                    border-radius: g.$radius-small;
                }
            }
        }
    }
}
